body {
    margin: 0;

}

.flex-container {
    display: flex;
}


.top-banner {
    background-image: url(images/donate.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px;
    background-size: cover;
}

.full-width {
    margin: 0%;
    text-align: center;

}

.top-header {
    font-size: 70px;
    margin: 0%;
    color: rgb(245, 244, 219);
    text-shadow: 2px 2px black;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 800;
}

#donate-to-help {
    color: rgb(212, 209, 23);
}

#top-banner-description {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 50px;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    text-shadow: 1px 1px black;

}

.donate-button {
    color: aliceblue;
    text-decoration: none;
    background-image: linear-gradient(to right, rgb(236, 94, 69), rgb(243, 64, 64));
    padding: 10px 20px;
    border-radius: 5px;
    font-family: monospace;
    font-weight: 500;
    font-size: 15px;
}

.section-header {
    font-size: 30px;
    color: rgb(64, 101, 102);
    font-family: 'Roboto', sans-serif;
    padding: 40px 0px 0px;

}

.decription {
    margin: 0% 30%;
    margin-bottom: 10px;
}

#select-amount {
    justify-content: center;
    padding: 40px;
}

.amount {
    margin: 0;
    padding: 30px 10px;
    margin: 5px;
}

#selected {
    color: rgb(255, 102, 0);
    border: 2px solid rgb(255, 136, 0);
    border-radius: 5px;
    background-color: rgb(253, 239, 212);
}

#amount-enter {
    text-align: center;

}

#other-amount {
    color: rgb(187, 187, 187);
    margin-bottom: 30px;
    border: 0;
    text-align: center;
    border-bottom: 1px solid rgb(214, 214, 214);
}

.donation-plan {
    margin-top: 70px;
    text-align: center;
}

.part-width {
    width: 33%;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 20px 30px;
    text-align: left;
}

.shadow {
    background-color: rgb(229, 235, 243);
}

.half-width {
    width: 50%;
    margin-top: 5%;
}

.half-width img {
    width: 80%;
    vertical-align: middle;
    padding-bottom: 20px;
}

.team {
    margin-top: 5%;
    background-image: linear-gradient(to right, rgb(248, 149, 104), rgb(221, 71, 33));

}

#our-team {
    color: aliceblue;
    font-size: 3em;
    text-align: center;
    padding: 2px;
    margin: 0%;
    padding-top: 10%;

}

#email {
    color: rgb(182, 181, 181);
    margin-bottom: 30px;
    border: 0;
    text-align: left;
    background-color: rgb(216, 232, 252);
    padding: 11px;
}

.subscribe-button {
    color: aliceblue;
    text-decoration: none;
    background-image: linear-gradient(to right, rgb(236, 94, 69), rgb(243, 64, 64));
    padding: 10px 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: monospace;
    font-weight: 500;
    font-size: 15px;
}

#get-update {
    text-align: center;
    margin-top: 20px;
}

footer {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: coral;
    font-size: 20px;
    font-weight: 800;
    background-color: rgb(41, 25, 6);
    padding: 30px;
    margin-top: 50px;
}

#footer-text {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: aliceblue;
}